@model Evento.Web.Models.Memorizes.MemorizeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link rel="stylesheet" href="~/css/Memorizes.css" />
<link rel="stylesheet" href="~/css/Events.css" />

<div class="container">
    <div class="col-sm-12">
        @using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <article class="wrapper ">
                <a class=" iconBtn ">@ViewBag.Created</a>

                @ViewBag.Ok
                <header>
                    <h1 class="pageTitle">@Localizer["Title"]</h1>

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Title, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.Title, "", new
                   {
                       @class =
             "text-danger"
                   })

                    </div>


                </header>


                <div align="center" class="mt-1">
                    <img src="~/images/users_icons/Путь_к_картинке" class="img" width="100%">
                </div>
                <div align="center">
                    <label id="profile-image">
                        <small>@Localizer["Upload"]</small>
                        <small>
                            <input type="file" name="Image" id="Imageinput" hidden onchange="imgprev(this)">

                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </small>
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">

                        <input type="submit" value=@Localizer["Create"] id="createProjectBtn" class=" iconBtn " />
                    </div>
                </div>

            </article>

        }
    </div>



</div>
<div class="container">
    <div class="col-sm-12">
        @using (Html.BeginForm("Create", "Memorizes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <article class="wrapper ">
                <a class=" iconBtn ">@ViewBag.Created</a>

                @ViewBag.Ok
                <header>
                    <h1 class="pageTitle">@Localizer["Title"]</h1>

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Title, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.Title, "", new
                   {
                       @class =
      "text-danger"
                   })

                    </div>


                </header>
            </article>

            <div class="card photos">
                <div id="slider" class="row">
                    <button class="prev" id="button-slider" onclick="prev()"><i class="fa fa-chevron-left"></i></button>
                    <img src="~/css/icons/placeholder.png" id="upload-photo" class="card-img-top img-thumbnail" alt="...">
                    <button class="next" id="button-slider" onclick="next()"><i class="fa fa-chevron-right"></i></button>
                </div>

            </div>
            <div>
                <label id="profile-image">
                    <input type="file" class="loader" id="photoholder" name="loader" onchange="snapshoot(this)" hidden multiple />
                    <small>
                        <i class="fa fa-camera" id="camera" caria-hidden="true"></i>
                    </small>
                </label>
            </div>
            <div class="comment">
                <textarea asp-for="MemorizeComment" placeholder="@Localizer["Here you can describe your feelings..."]" class="mem-comment" id="comment"></textarea>
            </div>
            <input type="submit" onclick="post()" value="Comfirm" />
        }
           
        </div>
        @section Scripts {
            <script src="~/js/others/imgloaderjs.js"></script>
            <script src="~/js/validation/memorizes/memorize.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/js/others/slider.js"></script>

        }
