@using Microsoft.AspNetCore.Identity
@using Evento.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <a href="/Categories/Index" class="iconBtn" id="createProjectBtn">
        <div class="iconBtn__content">

            @Localizer["Category"]
        </div>
    </a>
    <a href="/Admin/Index" class="iconBtn" id="createProjectBtn">
        <div class="iconBtn__content">

            @Localizer["Admin"]
        </div>
    </a>
   <a href="/Account/Profile" class="iconBtn" id="createProjectBtn">
       <div class="iconBtn__content">

           @Localizer["MyAccount"]
       </div>
    </a>


    <div class="profile__information">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Manage">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark"> @Localizer["Logout"]</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="profile__information">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="accoubtn text-dark" asp-controller="Account" asp-action="Register"> @Localizer["Register"]</a>
            </li>
            <li class="nav-item">
                <a class="accoubtn text-dark" asp-controller="Account" asp-action="Login"> @Localizer["Login"]</a>
            </li>

        </ul>
    </div>
}
