<link rel="stylesheet" href="~/css/Events.css" />

@model Evento.BLL.Accounts.DTO.RegisterDTO
@{
    ViewBag.Title = "Авторизация на сайте";
}




<style>



    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.6em;
        font-weight: 300;
        color: #555;
    }

    p {
        margin-bottom: 2em;
    }

    header {
        border-bottom: solid 1px #e0e0e0;
        margin: 0 0 20px 0;
    }

    .pageTitle,
    .pageSubTitle {
        font-family: 'Titillium', sans-serif;
        text-transform: uppercase;
        color: #333;
    }

    .pageTitle {
        color: #FF7600;
    }

    .pageTitle {
        font-size: 2em;
        font-weight: 700;
        line-height: 2em;
    }

    .pageSubTitle {
        margin-bottom: 1em;
        font-size: 1.4em;
        font-weight: 300;
    }

    .background {
        background: url("http://img.talkandroid.com/uploads/2013/03/htc-sense-5-wallpaper-3.jpg") repeat;
        background-size: 100% auto;
        position: fixed;
        width: 100%;
        height: 300%;
        top: 0;
        left: 0;
        z-index: -1
    }

    .wrapper {
        width: 520px;
        padding: 40px;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
    }

    .slogan {
        position: fixed;
        display: block;
        top: 700px;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background: #222;
    }

    .sloganTitle {
        font-size: 70px;
        font-weight: 700;
        line-height: 80px;
        color: #fff;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    }

    .button {
        background-color: #8cb375;
        color: aliceblue;
        margin-right: 2em;
    }

        .button:hover {
            background-color: #80b06a;
            color: aliceblue
        }
</style>

<form action="/Account/Register" method="post">




    <article class="wrapper">

        <header>

            <h1 class="pageTitle">Create Account</h1>
            @Html.ValidationSummary(false)
            <h2 class="pageSubTitle">Resources.Content.Name</h2>  @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
            <h2 class="pageSubTitle">Resources.Content.Name</h2>  @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })

            <h2 class="pageSubTitle">Resources.Content.Email</h2>   @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            <h2 class="pageSubTitle">Resources.Content.Password</h2>    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            <h2 class="pageSubTitle">Resources.Content.Name</h2>  @Html.TextBoxFor(x => x.DataOfBirth, new { @class = "form-control" })


                 </header>
        <section>
            <button class="button button-block btn" type="submit">Resources.Content.Create</button>







            <img src="https://www.valleyroadwines.com/wp-content/uploads/2013/04/Anon-Person.png" height="330em" />


        </section>

    </article>

</form>




