@model Evento.Web.Models.Categories.CreateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Events.css" />


<article class="wrapper">
    @ViewBag.Ok
    <header>
        <h1 class="pageTitle">@Localizer["Title"]</h1>

        <div >
            @Html.DisplayFor(model => model.Title, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })

        </div>
    </header>

    @{
        if (@Model.CategoryPhoto != null)
        {
            var base64 = Convert.ToBase64String(@Model.CategoryPhoto);
            var imagesrc = string.Format("data:image/jpeg;base64,{0}", base64);

            <img src="@imagesrc" alt="" height="330em" />
        }
        else
        {


            <img src="~/Resource/thuan-pham-1Kj0OZiwLN8-unsplash.jpg" alt="" height="330em" />

        }
    }
<div>
    <a href="/Categories/Edit?id=@Model.Id" class="iconBtn" id="createProjectBtn">
        <div class="iconBtn__content">

            @Localizer["Edit"]
        </div>
    </a>
     <a href="/Categories/Delete?id=@Model.Id" class="iconBtn" id="createProjectBtn">
         <div class="iconBtn__content">

             @Localizer["Delete"]
         </div>
    </a>
    <a href="/Categories/Index" class="iconBtn" id="createProjectBtn">
        <div class="iconBtn__content">

            @Localizer["AllCategories"]
        </div>
    </a>
   
   

</div>
</article>









