@model Evento.Web.Models.Events.EventViewModel

<link rel="stylesheet" href="~/css/Events.css" />

<div class="container">
    <div class="col-sm-8">
        @using (Html.BeginForm("CreateNewEvent", "Events", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <article class="wrapper">
                @ViewBag.Ok
                <header>
                    <h1 class="pageTitle">Title</h1>

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Title, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.Title, "", new
                   {
                       @class =
             "text-danger"
                   })

                    </div>


                </header>

                <section>
                    <h2 class="pageSubTitle"> Category </h2>

                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>




                </section>

                <section>
                    <h2 class="pageSubTitle"> Dates </h2>

                    <div class="col-md-12">
                        <p>
                            @Html.DisplayNameFor(model => model.DateStart):
                            @Html.EditorFor(model => model.DateStart, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @placeholder = "DateStart"

                           }

                       })
                            @Html.ValidationMessageFor(model => model.DateStart, "", new
                       {
                           @class =
                    "text-danger"
                       })
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            @Html.DisplayNameFor(model => model.DateStart):
                        </p>
                        @Html.EditorFor(model => model.DateFinish, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           @placeholder = "DateFinish"

                       }

                   })
                        @Html.ValidationMessageFor(model => model.DateFinish, "", new
                   {
                       @class =
                "text-danger"
                   })

                    </div>
                </section>
                <section>
                    <h2 class="pageSubTitle"> Description </h2>

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           @placeholder = "Description"

                       }

                   })
                        @Html.ValidationMessageFor(model => model.Description, "", new
                   {
                       @class =
                "text-danger"
                   })

                    </div>
                </section>
                <section>
                    <h2 class="pageSubTitle"> Tags </h2>
                    <div class="col-md-12">
                        <div class="errors"></div>
                        <input id="tag-input" class="form-control" />
                        <div id="tag-container"></div>


                        @Html.EditorFor(model => model.Tags, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           @placeholder = "Description",
                           @id = "tags"

                       }

                   })
                        @Html.ValidationMessageFor(model => model.Description, "", new
                   {
                       @class =
                "text-danger"
                   })

                    </div>
                </section>
                <div align="center" class="mt-1">
                    <img src="~/images/users_icons/Путь_к_картинке" class="img" width="100%">
                </div>
                <div align="center">
                    <label id="profile-image">
                        <small>Upload</small>
                        <small>
                            <input type="file" name="Image" id="Imageinput" hidden onchange="imgprev(this)">

                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </small>
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                <div id="map" style="position:inherit"></div>
            </article>

        }
    </div>

</div>

@section Scripts {
    <script src="~/js/others/imgloaderjs.js"></script>
    <script src="~/js/others/chain.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}





