@using Evento.BLL.Third_part
@model Evento.Web.Models.Events.EventViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link rel="stylesheet" href="~/css/Events.css" />



<article class="wrapper">
    @ViewBag.Ok

    <header>
        <h1 class="pageTitle">@Localizer["Title"]</h1>

        <div class="col-sm-12">
            @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>


    </header>
    <div>
        <section>
            <h2 class="pageSubTitle"> @Localizer["Category"] </h2>
            <div class="col-md-12">
                @Html.DisplayFor(model => model.Category.Title, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @placeholder = "Country"

               }

           })

            </div>
        </section>
        <section>
            <h2 class="pageSubTitle">@Localizer["Location"] </h2>

            <div class="col-md-12">
                <p>

                    @Html.DisplayNameFor(model => model.DateStart):
                    @Html.DisplayFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", @placeholder = "Place" } })
                </p>

            </div>
        </section>
        <section>
            <h2 class="pageSubTitle"> @Localizer["Dates"] </h2>

            <div class="col-md-12">
                <p>
                    @Html.DisplayNameFor(model => model.DateStart):  @Html.DisplayFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country" } })
                </p>

            </div>
            <div class="col-md-12">
                <p>
                    @Html.DisplayNameFor(model => model.DateFinish):   @Html.DisplayFor(model => model.DateFinish, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country" } })
                </p>


            </div>
        </section>
        <section>
            <h2 class="pageSubTitle"> @Localizer["Description"] </h2>

            <div class="col-md-12">
                @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country" } })

            </div>


        </section>
    </div>
    <div>
        @if (!Model.IsOwner)
        {
            if (Model.Subscription is null)
            {

                @using (Html.BeginForm("Subscribe", "Events", new { eventId = Model.Id }))
                {
                    <input type="submit" name="subscribe" value=@Localizer["Subscribe"] class="btn-success btn-lg" />
                }
            }
            else
            {
                @using (Html.BeginForm("Unsubscribe", "Events", new { eventId = Model.Id }))
                {
                    <input type="submit" name="subscribe" value=@Localizer["Unsubscribe"] class="btn-danger btn-lg" />
                }
            }
        }
        else
        {
            @using (Html.BeginForm("Edit", "Events", new { eventId = Model.Id }))
            {
                <input type="submit" name="subscribe" value=@Localizer["Edit"] class="btn-primary btn-lg" />
            }
        }
        

    </div>




</article>


@section Scripts {
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCHJVhwLR43SEydzQrsFGrs4z8_7b5NZY&callback=initMap">
    </script>
    <script src="~/js/googleMapAPI.js"></script>
}
