@model Evento.BLL.Accounts.DTO.LoginDTO

<div class="containerLog" id="container">

    <div class="form-container sign-in-container">
        <h1>Sign in</h1>
        <div class="social-container">
            @*<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>*@
            @*<h1>External login</h1>*@
            @{
                if (Model.ExternalLogins.Count == 0)
                {
                    <div> No external logins configured</div>
                }
                else
                {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                            <button type="submit"
                                    class="btn btn-primary"
                                    name="provider"
                                    value="@provider.Name"
                                    title="Login using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                            }
                        </div>
                    </form>
                }
            }
            @*<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>*@
        </div>
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>

            <span>or use your account</span>
            <input class="login" type="email" placeholder="Email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <input class="login" type="password" placeholder="Password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
            <label asp-for="RememberMe"></label>
            <input class="login" asp-for="RememberMe" />
            <a href="#">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <a href="/Account/Register" class="ghost" id="signUp">Sign Up </a>
            </div>
        </div>
    </div>
</div>