@model Evento.BLL.Accounts.DTO.LoginDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer





<div class="containerLog" id="container">

    <div class="form-container sign-in-container">
        <h1>@Localizer["SignIn"]</h1>
      
     


        <div class="social-container">
          
            @{
                if (Model.ExternalLogins is null)
                {
                    <div> No external logins configured</div>
                }
                else
                {
                    @using (Html.BeginForm("ExternalLogin", "Account", new { @class = "social", returnUrl = Model.ReturnUrl }))
                    {

        <div>
            <button type="submit" class="social" name="provider" value="Google" title="Login using your Google account" google="">
                <i class="fab fa-google-plus-g"></i>
            </button>
            <button type="submit" class="social" name="provider" value="Facebook" title="Login using your Facebook account" facebook="">
                <i class="fab fa-facebook-f"></i>
            </button>

        </div>
                    }
                }
            }

          
        </div>
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>

            <span>@Localizer["useAccount"]</span>
            <input class="login" type="email" placeholder="Email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <input class="login" type="password" placeholder="Password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
          
           
            <button>@Localizer["SignIn"]</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">
                <h1>@Localizer["HelloFriend"]</h1>
                <p>@Localizer["Enter"]</p>
                <a href="/Account/Register" class="ghost" id="signUp">@Localizer["Signup"]</a>
            </div>
        </div>
    </div>
</div>